.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 50px gray;
  overflow-y: scroll;

  // Hide the library
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  img {
    width: 40%;
  }
  &:hover {
    background: rgb(235, 235, 235);
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
  }
  h4 {
    font-size: 0.9rem;
  }
}

.selected {
  background-color: rgb(197, 229, 255);
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

// For Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

// All other browsers
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
