.player {
  min-height: 20vh; // 1vh = 1% if the ViewPort height
  display: flex; // Puts all items in a horizontal line
  flex-direction: column; // Aligns all items into a column
  align-items: center; // Centers the column
  //justify-content: space-between; // Spaces out the content
}

.time-control {
  width: 50%; // Stretches out the content
  display: flex;
  align-items: center;
  input {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
  }
  p {
    padding: 2 rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  width: 30%;
  svg {
    cursor: pointer; // Shows a pointer when moused over
  }
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}
.track {
  background: lightblue;
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.animate-track {
  background: rgb(204, 204, 204);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}
